# MongoDB Configuration
MONGODB_URI=mongodb://localhost:27017/blood-report-analysis
# For MongoDB Atlas: mongodb+srv://username:password@cluster.mongodb.net/blood-report-analysis

# Server Configuration
PORT=5000
NODE_ENV=development

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here_min_32_characters
JWT_EXPIRE=7d

# Email Configuration (SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=prashanthbollinedi2910@gmail.com
SMTP_PASSWORD=wrho tpvc vaiy udsq
FROM_EMAIL=prashanthbollinedi2910@gmail.com
FROM_NAME=Blood Report Analysis

# Frontend URL (for email verification links)
FRONTEND_URL=http://localhost:3000

# Gemini AI Configuration
GEMINI_API_KEY="AIzaSyCZ4gH19KDJMOns4YEbVKejzTC2tPKQn0c"

# File Upload Configuration
MAX_FILE_SIZE=10485760
# 10MB in bytes
